/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~saturn-datepicker/theming';

@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

@include angular-material-theme($candy-app-theme);
@include sat-datepicker-theme($candy-app-theme);